<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Novo' }} Usuário</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
          [(ngModel)]="usuario.nome"
          #nome="ngModel" required minlength="5">

        <app-message [control]="nome" error="required"
          text="Informe o nome"></app-message>
        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.minlength?.requiredLength }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-fluid">
        <label>E-mail</label>

        <input pInputText type="email" name="email" required email
          [(ngModel)]="usuario.email" #email="ngModel"/>

        <app-message [control]="email" error="required" text="Informe o email"></app-message>
        <app-message [control]="email" error="email" text="Informe um e-mail válido"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid"
        *ngIf="!usuario.codigo">
        <label>Senha</label>
        <input pInputText type="text" name="senha"
          [(ngModel)]="usuario.senha" #senha="ngModel" required>

        <app-message [control]="senha" error="required"
          text="Informe a senha"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <p-panel header="Permissões">
          <p-listbox [ngModelOptions]="{standalone: true}" [options]="permissoes" [(ngModel)]="selectedPermissoes" multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
        </p-panel>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
        <button pButton type="button" label="Novo" class="ui-button-info"
          (click)="nova(f)"></button>

        <a routerLink="/usuarios">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>

</div>
