<div class="container">
  <form #f="ngForm" autocomplete="off" (ngSubmit)="alterarSenha(f)">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>Alteração de Senha de Usuário</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Senha</label>
        <input pInputText type="text" name="senha"
          [(ngModel)]="usuario.senha" #senha="ngModel" required>

        <app-message [control]="senha" error="required"
          text="Informe a senha"></app-message>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>

        <a routerLink="/usuarios">Voltar para a pesquisa</a>
      </div>
    </div>

  </form>

</div>
